<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Campground</title>
</head>
<body>
    <h1>Make New Campground</h1>
    <form action="/campgrounds" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]"> 
            <!-- // This is the name attribute that will be used in the req.body object -->
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]"> 
            <!-- // This is the name attribute that will be used in the req.body object -->
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" id="price" name="campground[price]"> 
            <!-- // This is the name attribute that will be used in the req.body object -->
        </div>
        <div>
            <label for="description">Description</label>
            <textarea id="description" name="campground[description]"></textarea>
            <!-- // This is the name attribute that will be used in the req.body object -->
        </div>
        <button >Add Campground</button>
    </form>
    <footer>
        <a href="/campgrounds">Go Back</a>
    </footer>
</body>
</html>